In [1]:
# List is a sequence of collection of different objects
l = ["A" , 1, 2.0]
l

['A', 1, 2.0]

In [2]:
# Access element from list by using index 
print(l[0])
print(l[1])
print(l[2])

A
1
2.0

In [3]:
# Access element from list by using negative index 
print(l[-3])
print(l[-2])
print(l[-1])

A
1
2.0

In [25]:
# List can contain integer, float, string, tuple and nested list
l1 = ["Test list", 2.5, 1, (3,4),[5,6]]
l1

['Test list', 2.5, 1, (3, 4), [5, 6]]

In [5]:
#Nested list or tuple can be accessed using regular index
print(l1[3]) # tuple
print(l1[4]) # list

(3, 4)
[5, 6]

In [7]:
# Find the type of l1 list
print(type(l1))

<class 'list'>

In [8]:
# List slicing
l1[3:5]

[(3, 4), [5, 6]]

In [26]:
# Add elements into a list using extend
l1.extend(["A", "B"])
l1

['Test list', 2.5, 1, (3, 4), [5, 6], 'A', 'B']

In [27]:
# Add elements into a list using append
l1.append(10)
l1.append("C")
l1

['Test list', 2.5, 1, (3, 4), [5, 6], 'A', 'B', 10, 'C']

In [28]:
# Add element which is another list into a list using append
l1.append(["D", "E"])
l1

['Test list', 2.5, 1, (3, 4), [5, 6], 'A', 'B', 10, 'C', ['D', 'E']]

In [38]:
# Change the element based on the index
l1[0]= "Test"
l1

['Test', [5, 6], 'A', 'B', 10, 'C', ['D', 'E']]

In [39]:
# Delete the element based on the index
del(l1[0])

In [40]:
l1

[[5, 6], 'A', 'B', 10, 'C', ['D', 'E']]

In [41]:
# Convert string to list using split method
string = "A,B,C"
string.split(",")

['A', 'B', 'C']

In [42]:
# list copy by reference
A = ["A", "B", "C"]
B = A

A == B

True

In [45]:
# Changed A list but B also got changed, it is because both A & B pointing to same memory location
A.append("D")
B

['A', 'B', 'C', 'D', 'D']

In [50]:
# Clone by value
A = ["a", "b", "c"]
B = A[:]
B

['a', 'b', 'c']

In [1]:
#Quiz on list

In [2]:
# Create a list using 1, hello, [1,2,3] and True
a_list = [1, "hello", [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [4]:
# Find the value stored at index 1 of a_list
a_list[1] # 'hello'

'hello'

In [5]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list
a_list[1:4]

['hello', [1, 2, 3], True]

In [6]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']
A = [1, 'a']
B = [2,1, 'd']
A.extend(B)
A

[1, 'a', 2, 1, 'd']

In [8]:
# Concatenate A & B using +
A + B

[1, 'a', 2, 1, 'd', 2, 1, 'd']